<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Smart Tune | Tune hyperparameter for your project</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicons.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicons.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicons.png">
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicons.png">
    <link rel="manifest" href="static/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="static/img/favicons.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="static/vendors/prism/prism.css" rel="stylesheet">
    <link href="static/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="static/css/theme.css" rel="stylesheet" />
    <link href="static/css/user.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/dropzone.min.css" type="text/css" />
    <link rel="stylesheet" href="static/css/style.css">
    <!-- <link rel="stylesheet" href="static/css/select2.min.css"> -->

</head>


<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="static/img/Logo.png" alt="" class="nav-img" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                        class="fa-solid fa-bars text-white fs-3"></i></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/#about-us">About
                                Us</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/#constraint">Constraints</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/#hyperparameter">Hyperparameter</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/#faq">FAQ</a></li>
                        <li class="nav-item mt-2 mt-lg-0"><a class="nav-link btn btn-light text-black w-md-25 w-50 w-lg-100 bg-success" aria-current="page" href="#">Tuning</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <section class="pt-9">
            <div class="card mx-auto">
                <div class="card-body">

                    <h3>Dropzone</h3>
                    <p class="card-title-desc">Upload your dataset here. Only support for .csv file with max size is 20 Mb!
                    </p>

                    <input type="text" id="file-path" class="">
                    <input type="text" id="file-name" class="">
                    <input type="text" id="target-class" class="">

                    <p id="currentFile"></p>

                    <div class="container-dropzone">
                        <form action="#" class="dropzone" id="my-awesome-dropzone">
                            <div class="fallback">
                                <input name="file" type="file" multiple="multiple">
                            </div>
                            <div class="dz-message needsclick">
                                <div class="mb-3">
                                    <i class="display-4 text-muted bx fa-solid fa-cloud-arrow-up"></i>
                                </div>
                                <h4>Drop files here or click to upload.</h4>
                            </div>
                        </form>
                    </div>

                    <div class="text-center mt-4">
                        <button type="button" id="btn-upload-dataset" class="btn btn-border btn-light text-black bg-success">Upload Dataset</button>
                    </div>
                </div>
            </div>

            <div class="card mx-auto choose-target hide">
                <div class="card-body">
                    <h3>Choose Target</h3>
                    <p class="card-title-desc">Please select the column that you make as the target class. Make sure that the column you choose has only 2 unique values ​​(Binary Classification)</p>

                    <div id="loader-choose-target">
                        <div class="loader mx-auto mt-5 mb-5"></div>
                        <p class="text-center execution-time">Execution time: 00 minutes 00 seconds</p>
                        <p class="text-center">Please wait ...</p>
                    </div>

                    <div id="div-choose-target">
                        <table>
                            <tr>
                                <th colspan="2" class="table-header" id="table-header">Choose Target Class!</th>
                            </tr>
                            <tr class="mt-5">
                                <td width="20%">Execution Time</td>
                                <td id="choose-target-execution-time">: 00 minutes 00 seconds</td>
                            </tr>
                            <tr>
                                <td>Target Class</td>
                                <td id="list-choose-target">
                                </td>
                            </tr>
                        </table>
                        <div class="text-center mt-4">
                            <button type="button" id="btn-check-dataset" class="btn btn-border btn-light text-black bg-success btn-submit mx-3">Check Dataset</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mx-auto check-dataset hide">
                <div class="card-body">
                    <h3>Checking Result</h3>
                    <p class="card-title-desc">Here is the result of checking your dataset</p>

                    <div id="loader-check-dataset">
                        <div class="loader mx-auto mt-5 mb-5"></div>
                        <p class="text-center execution-time">Execution time: 00 minutes 00 seconds</p>
                        <p class="text-center">Please wait ...</p>
                    </div>

                    <div id="div-check-dataset">
                        <table>
                            <tr>
                                <th colspan="2" class="table-header" id="table-header">Dataset Information!</th>
                            </tr>
                            <tr class="mt-5">
                                <td width="20%">Execution Time</td>
                                <td id="check-dataset-execution-time">: 00 minutes 00 seconds</td>
                            </tr>
                            <tr>
                                <td>Dataset Name</td>
                                <td id="nama-dataset">: -</td>
                            </tr>
                            <tr>
                                <td>Num. of Data Before Sampling</td>
                                <td id="jumlah-data-sebelum-sampling">: -</td>
                            </tr>
                            <tr>
                                <td>Num. of Data After Sampling</td>
                                <td id="jumlah-data-setelah-sampling">: -</td>
                            </tr>
                            <tr>
                                <td>Number of Attribute</td>
                                <td id="jumlah-atribut">: -</td>
                            </tr>
                            <tr>
                                <td>Target Field</td>
                                <td id="target">: -</td>
                            </tr>
                            <tr>
                                <td>Missing Value</td>
                                <td id="data-kosong">: -</td>
                            </tr>
                            <tr>
                                <td>Dataset Status</td>
                                <td id="status">:

                                </td>
                            </tr>
                        </table>
                        <div class="text-center mt-4">
                            <button type="button" id="btn-tuning-dataset" class="btn btn-border btn-light text-black bg-success btn-submit mx-3">Tuning
                                Hyperparameter</button>
                            <a href="/tuning" id="btn-try-again" class="btn btn-border text-black bg-outline-success btn-submit mx-3">Try Again</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mx-auto tuning-dataset hide">
                <div class="card-body">
                    <h3>Tuning Hyperparameter Result</h3>
                    <p class="card-title-desc">Here is the result of tuning hyperparameter</p>

                    <div id="loader-tuning">
                        <div class="loader mx-auto mt-5 mb-5"></div>
                        <p class="text-center execution-time">Execution time: 00 minutes 00 seconds</p>
                        <p class="text-center">Please wait ...</p>
                    </div>

                    <div id="div-tuning">
                        <table>
                            <tr>
                                <th colspan="2" class="table-header bg-success">Hyperparameter Configuration!</th>
                            </tr>
                            <tr class="mt-5">
                                <td width="20%">Execution Time</td>
                                <td id="tuning-execution-time">: -</td>
                            </tr>
                            <tr>
                                <td>Network Configuration</td>
                                <td id="network-configuration">: -</td>
                            </tr>
                            <tr>
                                <td>Number of Input Layer</td>
                                <td id="input-layer">: -</td>
                            </tr>
                            <tr>
                                <td>Number of Hidden Layer</td>
                                <td id="hidden-layer">: -</td>
                            </tr>
                            <tr>
                                <td>Number of Ouput Layer</td>
                                <td id="output-layer">: -</td>
                            </tr>
                            <tr>
                                <td>Learning Rate</td>
                                <td id="learning-rate">: -</td>
                            </tr>
                            <tr>
                                <td>Dropout Rate</td>
                                <td id="dropout">: -</td>
                            </tr>
                            <tr>
                                <td>Accuracy</td>
                                <td id="accuracy">: -</td>
                            </tr>
                            <tr>
                                <td>Validation Accuracy</td>
                                <td id="val-accuracy">: -</td>
                            </tr>
                        </table>
                        <div class="text-center mt-4">
                            <button type="button" id="btn-build-model" class="btn btn-border btn-light text-black bg-success btn-submit mx-3">Build Model</button>
                            <a href="/tuning" id="btn-reset" class="btn btn-border btn-outline-success text-black">Reset Data</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mx-auto build-model hide">
                <div class="card-body">
                    <h3>Build Model Result</h3>
                    <p class="card-title-desc">Here is the result of build your model</p>

                    <div id="loader-build-model">
                        <div class="loader mx-auto mt-5 mb-5"></div>
                        <p class="text-center execution-time">Execution time: 00 minutes 00 seconds</p>
                        <p class="text-center">Please wait ...</p>
                    </div>

                    <div id="div-build-model">
                        <table>
                            <tr>
                                <th colspan="2" class="table-header bg-success">Build Model Information!</th>
                            </tr>
                            <tr class="mt-5">
                                <td width="20%">Execution Time</td>
                                <td id="build-execution-time">: 00 minutes 00 seconds</td>
                            </tr>
                            <tr>
                                <td>Epochs</td>
                                <td id="epoch">: 0 / 500 epochs</td>
                            </tr>
                            <tr>
                                <td>Accuracy</td>
                                <td id="build-accuracy">: 0 %</td>
                            </tr>
                            <tr>
                                <td>Recall</td>
                                <td id="build-recall">: 0 %</td>
                            </tr>
                            <tr>
                                <td>Specificity</td>
                                <td id="build-specificity">: 0 %</td>
                            </tr>
                            <tr>
                                <td>Error Rate</td>
                                <td id="build-error">: 0 %</td>
                            </tr>
                            <tr>
                                <td>Your Model</td>
                                <td>: <a href="{{ url_for('.download') }}" id="btn-download" class="btn text-white btn-info btn-sm"><i
                                            class="fa-solid fa-download"></i> Download Here</a></td>
                            </tr>
                            <tr class="margin-top">
                                <th colspan="2" class="table-header bg-success">How to use your model?</th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <ol class="manual-list">
                                        <li>Install library Tensorflow <strong>pip install tensorflow</strong></li>
                                        <li>Import tensorflow library into your project <strong>from tensorflow.keras.models import load_model</strong></li>
                                        <li>Load your model and assign it into a variable e.g. variable with name model <strong>model = load_model('model.h5')</strong></li>
                                        <li>Use this variable to predict new data on your project using <strong>predict</strong> function. Good Luck!</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                        <div class="text-center mt-4">
                            <a href="/tuning" class="btn btn-border btn-outline-success text-black">Reset Data</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="static/vendors/popper/popper.min.js"></script>
    <script src="static/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="static/vendors/anchorjs/anchor.min.js"></script>
    <script src="static/vendors/is/is.min.js"></script>
    <script src="static/vendors/fontawesome/all.min.js"></script>
    <script src="static/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="static/vendors/prism/prism.js"></script>
    <script src="static/vendors/swiper/swiper-bundle.min.js"></script>
    <script src="static/js/theme.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/dropzone.min.js"></script>
    <!-- <script src="static/js/select2.min.js"></script> -->
    <script src="static/js/myScript.js"></script>

</body>

</html>